<div class="listadoPokemon">
  <mat-card class="contenedor">
    <mat-card-header>
      <mat-card-title>Filtrar por:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Rango:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table style="margin: auto;">
            <tr>
              <td>
                <mat-form-field class="campoFormulario" appearance="outline">
                  <mat-label>Min. ID (Max. ID: {{ maximoId }} )</mat-label>
                  <input matInput type="number" [max]="maximoId" [(ngModel)]="minimoId">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="campoFormulario" appearance="outline">
                  <mat-label>Max. ID (Min. ID: {{ minimoId }} )</mat-label>
                  <input matInput type="number" [min]="minimoId" [(ngModel)]="maximoId">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Otro Filtro
            </mat-panel-title>
          </mat-expansion-panel-header>
          Otro Filtro
          <!-- <mat-form-field>
          </mat-form-field> -->
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="getListadoPokemon()">Filtrar</button>
    </mat-card-actions>
  </mat-card>

  <div class="contenedor">
    <mat-grid-list cols="4" rowHeight="500px">
      <!-- <mat-grid-tile *ngFor="let item of listadoPokemon; let i= index;"> -->
      <mat-grid-tile *ngFor="let item of listadoPokemon; let i= index;">
        <mat-card class="example-card" style="width: 300px; height: 450px;">
          <img mat-card-image
            [src]="item.img"
            style="width: 80%; height: 40%; margin: 3rem 3rem;">
          <mat-card-header>
            <mat-card-title style="text-transform: capitalize;"> {{ item.name }} </mat-card-title>
            <mat-card-subtitle># {{ item.id }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              The
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
